

.bg {
    background-image: url('../public/land_img.jpg')  ;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.itemLength {
    margin-bottom: 0.9rem;
    color: green;
    font-size: large;
    font-weight: 600;
}